# Compiled output
/dist
/tmp
/out-tsc

# Dependency directories
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Compiled files
*.js
*.js.map
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
/src/environments/environment*.ts

# Angular Cache
.angular/cache

# Testing
/coverage
/test-output

# Misc
.sass-cache
/connect.lock
/karma-*.js
typings/
tsconfig.tsbuildinfo